form name="form" novalidate="true" autocomplete="off"
  .form-group
    form-input(
      field-name="Email"
      field-value="$ctrl.email"
      field-placeholder="Enter your email address"
      on-enter="$ctrl.submit(form)"
      is-required="true"
      field-type="email"
      form="form"
    )

    .submit-form-row
      a.btn.btn-primary.btn-block (ng-click="$ctrl.submit(form)"
        ng-class="{disabled: form.$invalid}")
        |  Forgot Password
