.page-title
  .title Users

.inner-container
  .panel
    .panel-head
      .panel-action
        a ng-click="toggleModal(null,'new')"
          i.icon.icon-plus
    .panel-body
      users-table(
        collection="collection"
        search-filter="active_search"
        order="order"
        page="uiState.page"
        edit="toggleModal(obj,'edit')"
        destroy="destroy(obj)"
        search="getData(page,user,order)"
      )
    .panel-footer
      pagination(
        count="uiState.count"
        page="uiState.page"
        on-change="getData(page,active_search)"
        ng-hide = "uiState.count <= 0"
      )


user-modal(
  obj="currentUser"
  mode="uiState.mode"
  loading="uiState.loading"
  toggle="toggleModal(null,'')"
  submit="save(obj)"
  ng-if="uiState.userModal"
)
