form name="form" novalidate="true" autocomplete="off"
  .form-group
    form-input(
      field-name="Email"
      field-value="$ctrl.creds.email"
      on-enter="$ctrl.submit(form)"
      is-required="true"
      form="form"
    )

  .form-group
    form-input(
      field-name="Password"
      field-value="$ctrl.creds.password"
      field-type="password"
      on-enter="$ctrl.submit(form)"
      is-required="true"
      form="form"
    )

  .submit-form-row
    a.btn.btn-primary.btn-block ng-click="$ctrl.submit(form)" ng-class="{disabled: $ctrl.loading}" Login
