form name="registerForm" novalidate="true" autocomplete="off"

  .form-group
    form-input(
      field-name="Email"
      field-value="$ctrl.user.email"
      on-enter="$ctrl.submit(registerForm)"
      is-required="true"
      form="form"
    )


  .form-group
    form-input(
      field-name="Password"
      field-value="$ctrl.user.password"
      field-type="password"
      on-enter="$ctrl.submit(registerForm)"
      is-required="true"
      form="form"
    )

  .submit-row
    a.btn.btn-primary ng-click="$ctrl.submit(registerForm)" ng-class="{disabled: $ctrl.loading}" Login
