.form-container
  ul.profile-form-list
    li.profile-form-list-item
      edit-profile-form(
        field-name="First Name"
        field-value="$ctrl.user.first_name"
        field-type="text"
        user="$ctrl.user"
      )
    li.profile-form-list-item
      edit-profile-form(
        field-name="Last Name"
        field-value="$ctrl.user.last_name"
        field-type="text"
        user="$ctrl.user"
      )
    li.profile-form-list-item
      edit-profile-form(
        field-name="Email"
        field-value="$ctrl.user.email"
        field-type="email"
        user="$ctrl.user"
      )
    li.profile-form-list-item
      change-password user="$ctrl.user"
