input.form-control(
  ng-model="$ctrl.fieldValue"
  name="{{$ctrl.fieldName}}"
  type="{{$ctrl.fieldType}}"
  ng-enter="$ctrl.onEnter()"
  ng-class="{error: $ctrl.hasError(), disabled: $ctrl.hasValue}"
  placeholder="{{$ctrl.fieldPlaceholder}}"
  required="false"
  minlength="{{$ctrl.fieldLength}}"
  )
