input.form-control.input-dark(
  ng-model="$ctrl.fieldValue"
  name="{{$ctrl.fieldName}}"
  type="{{$ctrl.fieldType}}"
  ng-enter="$ctrl.onEnter()"
  ng-class="{error: $ctrl.hasError()}"
  placeholder="{{$ctrl.fieldPlaceholder}}"
  required="false"
  minlength="{{$ctrl.fieldLength}}"
  pattern="{{$ctrl.fieldPattern}}"
  )
