header logout="logout()" current-user="currentUser"
sidebar logout="logout()" current-user="currentUser"

.wrapper ng-style="containerHeight"
  .main-container.anim-in-out.anim-fade ui-view="" data-anim-speed="500" data-anim-sync="true"

div growl=""
