header logout="logout()" current-user="currentUser"
sidebar logout="logout()" current-user="currentUser"

.wrapper ng-style="containerHeight"
  .main-container ui-view="" data-anim-speed="1000" data-anim-sync="true"

div growl=""
