.main-container
  padding: 53px 0px 0px 251px
  transition: all .4s ease 0s

body.condensed .main-container
  padding: 53px 0px 0px 70px
  transition: all .4s ease 0s

.inner-container
  padding: 15px
