.list-group
  border-radius: 2px
  padding-left: 0
  margin-bottom: 20px
  .list-group-item
    padding: 6px 10px
    position: relative
    display: block
    margin-bottom: -1px
    background-color: $white
    border: 1px solid $border
    &:first-child
      border-top-left-radius: 4px
      border-top-right-radius: 4px
    &:last-child
      margin-bottom: 0px
      border-bottom-right-radius: 4px
      border-bottom-left-radius: 4px
    input
      border: 0px
      padding: 10px
      &:focus
        box-shadow: none
        border: 0px
        background: none
    .form-group
      margin-bottom: 0px

.pagination
  li
    display: inline
    &.disabled
      a
        cursor: default !important
        pointer-events: none !important
        color: $clean !important
        background-color: mix(white, $gold ,78%) !important
    &.active
      a
        cursor: default !important
        color: $white !important
        background-color: $gold !important
    a
      line-height: 1.42857143
      padding: 6px 12px
      border: 1px solid $clean
      background-color: $white
      color: $dark
      &:hover
        background-color: mix(black, $gold ,15%)
        color: $white
