.modal
  // position: absolute
  left: 0
  margin: auto
  right: 0
  width: 500px
  padding: 5px 10px
  background-color: $primary
  z-index: 9999999
  top: 100px
  font-size: 16px
  position: fixed
  h2
    text-align: center
