.modal
  background-color: $dark
  border-radius: 2px
  box-sizing: border-box
  text-align: center
  position: fixed
  left: 50%
  top: 50%
  margin-top: -200px
  max-height: 90%
  overflow-x: hidden
  overflow-y: auto
  z-index: 2000
